body{
    background: url(./images/1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.body2{
    background: url(./images/2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}